#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* padding: 1rem; */
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 0;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header:not(.open) button {
  display: none;
}

header h1,
.header h1 {
  padding-bottom: 0.5rem;
}

.open-nav-button {
  border: 2px;
  padding: 0.25rem;
  box-shadow: 2px;
  font-size: 1.2rem;
}

.open-nav-button:hover {
  transform: translate(0);
  box-shadow: 0;
  opacity: 0.6;
}

nav {
  padding: 1rem;
  padding-top: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background-primary);
  z-index: 10;
}

nav div:first-of-type {
  padding-top: 1rem;
  position: sticky;
  top: 0;
  background: var(--background-primary);
  z-index: 14;
}

nav:not(.open) {
  display: none;
}

nav h1 {
  padding: 0.25rem 0;
}

nav input {
  font-size: 0.8rem;
  /* padding: 0.25rem; */
}

h3 {
  padding-top: 1rem;
}

.nav-card {
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.nav-card:hover {
  transform: translate(0);
  box-shadow: none;
  background: var(--background-muted);
}

.nav-card-selected {
  background: var(--background-muted);
  border: 1px solid (--border-primary)
}

.nav-card p:first-of-type {
  font-weight: 100;
}

.default-img {
  width: 240px;
}

.img-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.type-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.genre-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.type-tile {
  padding: 0.1rem 0.5rem;
  border-radius: var(--border-radius-small);
  font-size: 0.8rem;
  width: fit-content;
  font-weight: 600;
}

.genre-tile {
  padding: 0.1rem 0.5rem;
  border-radius: var(--border-radius-small);
  font-size: 0.8rem;
  width: fit-content;
  font-weight: 600;
}

.stats-card {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.rating-card {
  display: box;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}


.stat-item {
  display: flex;
  align-items: center;
  gap: 0.25rem 1rem;
}

.rating-item {
  display: flex;
  align-items: center;
  gap: 0.25rem 1rem;
}


@media (min-width: 640px) {
  #root {
    flex-direction: row;
    align-items: stretch;
    gap: 0rem;
  }

  header {
    display: block;
  }

  nav {
    display: flex;
    position: sticky;
    width: fit-content;
    min-width: 200px;

  }

  nav:not(.open) {
    display: flex;
  }

  nav div:first-of-type {
    position: relative;
  }

  .poke-card {
    padding: 2rem 1rem;
  }

  .header button {
    display: block;
    border: 20px white;
  }
}